body {
    background-color: rgb(50, 183, 255);
}

h1 {
    color: white;
    text-align: center;
}

div {
    background-color: white;
    width: 500px;
    margin: 0 auto; /* centraliza a div*/
    border-radius: 10px;
}

footer {
    color: white;
    text-align: center;
}